
.cg-Card {
	position: absolute;
	width: 88px;
	height: 125px;
	border: 1px solid black;
	background-color: ivory;
}

.cg-Pile {
	width: 88px;
	height: 125px;
	border: 1px solid black;
	/*background-color: lightgreen;*/
	overflow: visible !important;
	margin: 8px;
}

.cg-Table {
	overflow: visible !important;
	background-color: DarkGreen;
}

.cg-sidePlaceholder {
	border: 1px solid black;
	width: 160px;
	height: 666px;
}
